/* --- Reset --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* --- Fonts & Custom Properties --- */
:root {
    --dark-mode-bg-color: hsl(0, 0%, 12%);
    --main-font-color: hsl(0, 0%, 100%);
    --secondary-font-color: hsl(0, 0%, 45%);
}

@font-face {
    font-family: "heading-font";
    src: url("./assets/fonts/Afacad-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "body-font";
    src: url("./assets/fonts/Afacad-VariableFont_wght.ttf");
    font-display: swap;
}

/* --- Base --- */
body {
    display: grid;
    grid-template-rows: 0.25fr 0.1fr 0.1fr 1fr 0.8fr 0.3fr 0.1fr;
    /* grid-template-columns: repeat(autofill, minmax(250px, 2fr)); */
    row-gap: 10px;
    background-color: var(--dark-mode-bg-color);
}

h1, h2, h3 {
    color: var(--main-font-color);
    font-family: "heading-font";
}

p, a, input, img, label, button {
    color: var(--main-font-color);
    font-family: "body-font";
}

/* 1) Header */
header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25rem 1rem;
}

header h1 {
    font-family: "heading-font";
    font-size: 3.5rem;
}

/* 2) Search */
.searchbox-wrapper {
    grid-row: 2;
    display: flex;
    justify-content: center;
}

.searchbox {
    width: 80%;
    height: 40px;
    background-color: hsl(0, 0%, 16%);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.searchbox > input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 0 20px;
    width: 80%;
    height: 40px;
    background-color: hsl(0, 0%, 16%);
    border-radius: 20px;
    z-index: 10;
    caret-color: rgb(248, 144, 96);
}

.searchbox > input:focus {
    outline: none;
}

.searchbox > input::placeholder {
    color: var(--secondary-font-color);
    font-family: "body-font";
    font-size: 1.2rem;
}

.searchbox > .search-btn {
    display: grid;
    place-items: center;
    font-family: "body-font";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    border: none;
    border-radius: 20px;
    color: var(--main-font-color);
    background: linear-gradient(to right, rgb(248, 144, 96), rgb(255,55,53));
    z-index: 100;
    cursor: pointer;
}

/* Location */
.location-wrapper {
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.location-box {
    width: 90%;
    padding: 0 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#location-pin {
    height: 1rem;
    width: 1rem;
}

.timezone-wrapper {
    display: none;
}

/* 3) Weather Main */
.weather-wrapper {
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-panel {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 25% 35% 40%;
    width: 90%;
    height: 100%;
    padding: 1rem;
    border-radius: 25px;

    /* Glass */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14.5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(14.5px);
}

.description-box {
    grid-row: span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#day {
    font-size: 2rem;
}

#description {
    font-size: 1rem;
}

.temp-box {
    grid-column: 2;
    grid-row: 1 / 3;
    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    grid-column: 3;
    grid-row: 1 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

#icon {
    width: 125px;
    height: 125px;
}

.calendar-box {
    grid-row: 3;
    grid-column: span 3;

    display: flex;
    place-items: center;
}

.day-box, .timeframe-box {
    height: 100%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    margin: 0 0.3rem;
    display: grid;
    place-items: center;
}

.selected {
    background-color: hsl(0, 0%, 16%);
}

.day-weather-icon {
    width: 50px;
}

/* Details */
.details-wrapper {
    grid-row: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.details-panel {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
    width: 90%;
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    background-color: rgb(40,40,40);
}

.details-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.details-box > p:first-of-type,
.details-box > p > span {
    color: var(--main-font-color);
}

.details-box > p:last-child {
    color: var(--secondary-font-color);
}

.timeframe-controls {
    display: none;
}

.info {
    width: 15px;
    fill: var(--secondary-font-color);
    /* <svg class="info" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg> */
}

.rainfall-wrapper, .timeframe-box{
    display: none;
}

/* 4) Astrology */
.sun-astrology-wrapper {
    grid-row: 6;
    display: grid;
    place-items: center;
}

.moon-astrology-wrapper {
    grid-row: 7;
    display: grid;
    place-items: center;
}

.astrology-panel {
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 25px;
}

.sunrise-box, .sunset-box, .astrology-box {
    display: grid;
    place-items: center;
    background-color: rgb(40,40,40);
    width: 45%;
    padding: 0.7rem;
    border-radius: 20px;
}

.sunrise-box > p:first-child,
.sunset-box > p:first-child,
.astrology-box > p:first-child {
    color: var(--secondary-font-color);
}

.sunrise-box > p:last-child,
.sunset-box > p:last-child, 
.astrology-box > p:last-child {
    font-size: 1.1rem;
}

.sun-visual-wrapper > *,
.sun {
    display: none;
}

.moon-astrology-visual > *,
.moon {
    display: none;
}

/* 5) Footer */
footer {
    grid-row: -1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-square-github,
.fa-square-github:active,
.fa-square-github:visited, 
a {
    color: white;
    text-decoration: none;
}

/* Media Queries */
@media (min-width: 780px) {
    body {
        grid-template-rows: 0.3fr 0.1fr 0.1fr 2fr 2fr 0.1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 1.5rem;
        margin: 0 2rem;
    }

    header > h1 {
        font-size: 5rem;
    }

    .searchbox-wrapper {
        grid-column: span 2;
    }

    #city, #region {
        font-size: 1.1rem;
    }

    .timezone-wrapper {
        grid-row: 3;
        grid-column: 2;
        display: flex;
        justify-content: center;
    }
    
    .timezone-box {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 90%;
        padding: 0 1rem;
    }

    .day-box, .calendar-box {
        display: none;
    }

    .description-box {
        grid-row: 1;
        grid-column: 2;
    }

    #day {
        font-size: 2rem;
    }

    #description {
        font-size: 1.5rem;
    }

    #temperature {
        font-size: 7rem;
        padding-left: 2rem;
    }

    .temp-box {
        /* grid-row: 2 / -1;
        grid-column: 1 / 3; */

        grid-row: 2 / -1;
        grid-column: 2 / -1;
    }

    .icon-box {
        /* grid-row: 1 / -1;
        grid-column: 3; */

        grid-row: 2 / -1;
        grid-column: 1 / 3;

    }

    .details-wrapper {
        grid-row: 4;
        grid-column: 2;
    }

    .timeframe-wrapper {
        display: flex;
        justify-content: center;
        grid-row: 5;
        grid-column: 1;
    }

    .timeframe-panel {
        display: grid;
        place-items: center;
        grid-template-rows: 1fr 5fr;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;
        background-color: rgb(40,40,40);
        width: 90%;
        padding: 0.5rem;
        border-radius: 20px;
    }

    .timeframe-controls {
        grid-row: 1;
        grid-column: 2 / 4;
        background-color: grey;
        width: 100%;
        height: 80% ;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .timeframe-controls > button {
        border: none;
        width: 50%;
        border-radius: 20px;
        background-color: hsl(0, 0%, 50%, 0.392);
        color: black;
        cursor: pointer;
    }
    
    .active {
        background: linear-gradient(to right, rgb(248, 144, 96), rgb(255,55,53));
    }

    .daily-slots, .hourly-slots {
        grid-row: 2;
        grid-column: 1 / -1;
        display: flex;
        height: 90%;
        width: 100%;
    }

    .hourly-slots {
        overflow: scroll;
    }

    .daily-box-one,
    .daily-box-two,
    .daily-box-three,
    .daily-box-four, 
    .hourly-box-one, 
    .hourly-box-two, 
    .hourly-box-three,
    .hourly-box-four,
    .hourly-box-five,
    .hourly-box-six {
        display: grid;
        background-color: hsl(0, 0%, 50%, 0.392);
        margin: 0 0.3rem;
    }

    .rainfall-wrapper {
        grid-row: 5;
        grid-column: 2;
        display: grid;
        place-items: center;
    }

    .rainfall-panel {
        display: grid;
        grid-template-columns: 0.5fr repeat(6, 1fr);
        grid-template-rows: 0.3fr auto 0.3fr;
        background-color: rgb(40,40,40);
        border-radius: 20px;
        height: 100%;
        width: 90%;
        padding: 0.75rem 0.5rem 0.5rem 0.5rem;
    }

    .rainfall-hours {
        grid-row: 2;
        grid-column: 2 / -1;
    }

    .rainfall-title-box {
        grid-row: 1;
        grid-column: 1 / -1;
        margin: 0 auto;
        padding-bottom: 0.2rem ;
    }

    .percentage-range-box {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 90%;
    }

    input[type=range] {
        appearance: slider-vertical;
        -webkit-appearance: slider-vertical;
        width: 100%;
        height: 90%;
    }

    .rainfall-hour, .rainfall-data {
        margin: 0 auto;
    }

    #rainfall-hour-one {
        grid-row: 3;
        grid-column: 2;
    }

    #rainfall-data-one {
        grid-row: 2;
        grid-column: 2;
    }

    #rainfall-hour-two {
        grid-row: 3;
        grid-column: 3;
    }

    #rainfall-data-two {
        grid-row: 2;
        grid-column: 3;
    }

    #rainfall-hour-three {
        grid-row: 3;
        grid-column: 4;
    }
    
    #rainfall-data-three {
        grid-row: 2;
        grid-column: 4;
    }

    #rainfall-hour-four {
        grid-row: 3;
        grid-column: 5;
    }

    #rainfall-data-four {
        grid-row: 2;
        grid-column: 5;
    }

    #rainfall-hour-five {
        grid-row: 3;
        grid-column: 6;
    }

    #rainfall-data-five {
        grid-row: 2;
        grid-column: 6;
    }

    #rainfall-hour-six {
        grid-row: 3;
        grid-column: 7;
    }

    #rainfall-data-six {
        grid-row: 2;
        grid-column: 7;
    }

    .sun-visual-wrapper {
        grid-row: 7;
        grid-column: 1;

        display: grid;
        place-items: center;
    }

    .sun-visual-panel {
        display: flex;
        justify-content: space-between;
        width: 90%;
        border-radius: 25px;
    }

    .sun-visual-box {
        display: grid;
        place-items: center;
        width: 45%;
        padding: 1rem 0;
        border-radius: 20px;
    }

    .sun {
        display: block;
        width: 30px;
        height: 30px;
    }

    .moon-astrology-wrapper {
        grid-row: 6;
        grid-column: 2;
    }

    .moon-visual-panel {
        display: flex;
        justify-content: space-between;
        width: 90%;
        border-radius: 25px;
    }

    .moon-visual-box {
        display: grid;
        place-items: center;
        width: 45%;
        padding: 1rem 0;
        border-radius: 20px;
    }

    .moon {
        display: block;
        width: 30px;
        height: 30px;
    }

    .moon:not(.current-moon) {
        opacity: 0.1;
    }

    footer {
        grid-row: -1;
        grid-column: span 2;
    }
}

@media (min-width: 960px) {
    body {
        margin: 0 3rem;
    }

    .moon {
        margin: 0 5px;
    }
    
    .rainfall-panel {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    footer {
        grid-row: -1;
    }
}

@media (min-width: 1020px) {
    body {
        margin: 0 4rem;
    }

    footer {
        grid-row: -1;
        grid-column: span 2;
    }
}

.hidden {
    display: none;
}